body{
  background-color: #fafafa;
}

.section{
	margin: 40px 15px;
}

.large-image{
	width:100%;
	margin:auto;
	position: relative;
}

.image-container figcaption{
	font-size: 13px;
	color: #666;
}

.image-container > a > img, .image-container > a > video, .image-container > video{
	width:100%;
}

.medium-image{
	max-width: 400px;
	margin:auto;
	position: relative;
}

.content{
	max-width:850px;
	margin:auto;
}

.project-list{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.list-item{
	flex: 1 0 30%;
	margin: 15px 20px;
}

.date span{
	text-transform: uppercase;
	font-size:12px;
}

.headline{
	display: block;
	font-size:19px;
	color:#222;
	font-weight: 600;
	line-height:21px;
	margin:7px 0 10px;
}

.project-thumb figcaption{
	margin-top:6px;
	font-style: italic;
}